/* header>nav>ul>li>a ( #logo, .item) */

nav {
    width: 100%;
    background-color: #F1C026;
    padding: 0 .5rem;
    border-bottom: 1px solid #272727;
    box-shadow: 1px 3px 6px #9d9c9c;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0;
}

nav ul li {
    list-style: none;
    position: relative;
    padding: .8rem;
    transition: 0.5s;
}

nav ul li a {
    text-decoration: none;
    padding: .5rem 1rem;
    color: #000000;
}

#logo {
    font-family: 'Eczar', serif;
    font-size: 2.5rem;
}

.item {
    font-size: 1.5rem;
}

#logo, .item {
    border-radius: .5rem;
}
#left {
    margin-left: auto;
}
.flag-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flag {
    padding: 0;
}

@media screen and (max-width: 420px) {
    nav {
        width: 100%;
    }
    nav ul {
        max-width: 90%;
        display: block;
    }
    nav ul li {
        padding: .7rem
    }
    #logo {
        font-size: 2rem;
        text-align: center;
    }
    .item {
        font-size: 1.3rem;
        text-align: center;
    }
}

@media(hover:hover) and (pointer:fine) {
    #logo:hover, .item:hover {
        background-color: #f5e1a1;
        text-shadow: 1px 2px #F1C026,
                     -1px 2px 3px #6e6e6e;
        /* padding: 1.2rem .6rem; */
    }
}

@media(hover:none) and (pointer: coarse) {
    #logo:active, .item:active {
        background-color: #f5e1a1;
        text-shadow: 1px 2px #F1C026,
                     -1px 2px 3px #6e6e6e;
        /* padding: 1.2rem .6rem; */
    }
}